{% load static %}
{% load i18n %}

    <section id="call-to-action" class="call-to-action-bg "  style="background-color:green">
    <div class="container" >
        <div class="row">
            <div class="col-lg-8 align-self-center">
                <h3 class="call-to-action-title">
                  Centre Africain de Droit et d’Administration
                  
               </h3>
                <p>
                  <span style="color:yellow"> Positionnement </span> <br/>
                  Pionnier, le CADA reste leader dans 
                  la formation des citoyens au droit 
               </p>
            </div>
            <div class="col-lg-4 text-right">
                <a class="btn btn-box" href="mailto:cadabobo2021@gmail.com">Contacter Nous <br/>Or Tel  (+226) 70 04 96 67</a>
            </div>
        </div>
        </div>
     </section>
     <!-- Call to action end -->

     <!-- Footer start-->
     <footer class="footer" id="footer">
        <div class="footer-main bg-overlay">
           <div class="container">
              <div class="row">

                 <div class="col-lg-4 col-md-12 footer-widget footer-about">

                    <h3 class="widget-title" style="color:#da0f32">Menu (1/2)</h3>
                    <ul class="list-dash">
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'team' %}">Equipe</a></li>
                        <li><a href="{% url 'projects' %}">Projet</a></li>
                        <li><a href="{% url 'actualities' %}">Actualité</a></li>
                        <li><a href="{% url 'partenaires' %}">Partenaires</a></li>
                    </ul>


                    <div>
                        <button class="btn btn-primary" style="background-color:green">
                            <a href="mailto:cadabobo2021@gmail.com" style="color:#fff">
                                <i class="fa fa-paper-plane"></i></a>
                        </button>
                    </div>

                </div>


                <!-- About us end-->
                 <div class="col-lg-4 col-md-6 footer-widget">
                    <h3 class="widget-title" style="color:#da0f32">Menu (2/2)</h3>
                    <ul class="list-dash">
                     <li><a href="{% url 'services' %}">Service</a></li>
                     <li><a href="{% url 'photo' %}">Photothèque</a></li>
                     <li><a href="{% url 'links' %}">Lien Utile</a></li>
                     <li><a href="{% url 'doc' %}">Document Utile</a></li>
                   </ul>
                 </div>
                
                 <div class="col-lg-4 col-md-6 footer-widget">
                    <h3 class="widget-title" style="color:#da0f32"> Localisation</h3>
                    <div class="ts-contact-info">
                        <span class="ts-contact-icon float-left">
                            <i class="icon icon-map-marker2"></i>
                        </span>
                       <div class="ts-contact-content">
                          <h3 class="ts-contact-title">Adresse</h3>
                          <p>BP 3227 Bobo-Dioulasso RS 90000 Bobo-Dioulasso Burkina Fas</p>
                       </div>
                       <!-- Contact content end-->
                    </div>
                    
                    <div class="ts-contact-info last"><span class="ts-contact-icon float-left"><i class="icon icon-envelope"></i></span>
                       <div class="ts-contact-content">
                          <h3 class="ts-contact-title">Email </h3>
                          <p>cadabobo2021@gmail.com</p>
                       </div>
                       <!-- Contact content end-->
                    </div>
                    <div class="ts-contact-info"><span class="ts-contact-icon float-left"><i class="icon icon-phone3"></i></span>
                       <div class="ts-contact-content">
                          <h3 class="ts-contact-title">Téléphone</h3>
                          <p>(+226) 70 04 96 67</p>
                       </div>
                       <!-- Contact content end-->
                    </div>
                 </div>
              </div>
              <!-- Content row end-->
           </div>
           <!-- Container end-->
        </div>
        <!-- Footer Main-->
        <div class="copyright">
           <div class="container">
              <div class="row">
                 <div class="col-lg-6 col-md-12">
                    <div class="copyright-info"><span>Copyright © 2022 a theme by <a href="https://furioustheme.com">Furioustheme</a></span></div>
                 </div>
                 <div class="col-lg-6 col-md-12">
                   <div class="footer-social text-right">
                       <ul>
                          <li><a href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
                          <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
                          <li><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                          <li><a href="https://github.com"><i class="fa fa-github"></i></a></li>
                          <li><a href="https://instagram.com"><i class="fa fa-instagram"></i></a></li>
                       </ul>
                    </div>
                 </div>
              </div>
              <!-- Row end-->
           </div>
           <!-- Container end-->
        </div>
        <!-- Copyright end-->
     </footer>
     <!-- Footer end-->

     <div class="back-to-top affix" id="back-to-top" data-spy="affix" data-offset-top="10">
        <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i>
           <!-- icon end-->
        </button>
        <!-- button end-->
     </div>