{% extends '__frames/main.html' %}

{% load static %}
{% load i18n %}

{% block headLinks %}
    <style>
        .link-item{
            display:flex;
            justify-content:space-between;
            align-items:center;

        }
        
    </style>
{% endblock headLinks %}


{% block bodyContent %}

<div class="banner-area" id="banner-area" style="background-image:url({% static 'images/banner/banner_service.png' %});">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col">
             <div class="banner-heading">
                <h1 class="banner-title">Lien Utiles</h1>
                <ol class="breadcrumb">
                   <li><a href="{% url 'home' %}">Home</a></li>
                   <li><a href="{% url 'links' %}">Liens</a></li>
                </ol>
             </div>
          </div>
          <!-- Col end-->
       </div>
       <!-- Row end-->
    </div>
    <!-- Container end-->
 </div>
 <!-- Banner area end-->
 <section class="main-container" id="main-container">

    <div class="container">

       <div class="row">
        
        <div class="col">
            <div>
                <div class="widget no-padding no-border">
                    <ul class="service-menu">
                        
                        {% for lien in links %}
                            <li>
                                <a class="row" href="{{lien.lien}}">
                                    <span class="col"> <i class="fa fa-arrow-right"></i>
                                        {{lien.intitule}} 
                                    </span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            
            </div>
        </div>
    
    </div>
 </section>

{% endblock bodyContent %}